.tab-root-container {
    width:100%;
}

.tab-container{
    display:flex;
    min-height: 100%;
    padding-top:2px;
}

.ui-tabview .ui-tabview-nav .ui-tabview-panels .ui-tabview-panel {
    width:100%;
    height:100%;
}