/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.pane-group-relative {
  position: relative;
  display:flex;
  flex:1 100%;
}