$color1: rgba(66, 72, 116, 1);
$color2: rgba(166, 177, 225, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(214, 229, 227, 1);
$color5: rgba(34, 34, 34, 1);

$inputcolor: rgb(5, 31, 28);
$alertcolor: rgb(133, 62, 62);
$successcolor: rgb(47, 107, 66);

$bodybackground: $color5;
$uibackground: $color3;