
  .well {
    margin:2px;
    padding:5px;
    border:1px solid lightgray;
    height:100%;
  }

  .pull-right {
      float: right;
  }

  .pull-left {
      float:left;
  }

.push-down{
    margin-top: 10px;
}

  .clearfix{
      clear:both;
  }

  .fill-height{
      min-height: 100%;
  }

  .spacing-top {
      margin-top:5px;

      .ui-card-body {
        margin-top:5px;
      }
  }

.clickable {
    cursor: pointer;
}

.flex-content {
    display: flex;
    flex: 1;
    height:100%;
}

.full-height {
    min-height: 100%;
}