.top-bar-container {
    .ui-button {
        width: 40px;
        height: 30px;
    }

    .ui-autocomplete {
        margin-left:10px;
        display:flex;
    }

    input {
        flex-grow: 1;
    }
}

.tab-container {
    .ui-tabview {
        height:100%
    }
}