@import "common-layout.scss";
@import "theme";
@import "colors";

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100vh;
  background-color: $bodybackground;
}