<div class="pane-group-relative fill-height">
  <div class="pane">
    <p-table [value]="items">
      <ng-template pTemplate="header">
        <tr>
          <th>{{'TABS.CLASSES.NAME' | translate}}</th>
          <th>{{'TABS.MAPS.NAME' | translate}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-class>
        <tr (click)="edit(class)">
          <td>
            {{class.name}}</td>
          <td>
            [banans namn]
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="pane">
    <div class="well">
      <form #classForm="ngForm">
        <button class="pull-left ui-button-secondary" pButton (click)="save()" [disabled]="!classForm.form.valid || classForm.form.pristine"
          *ngIf="inEditMode" label="{{'TABS.CLASSES.SAVE' | translate}}" icon="fa fa-save">
        </button>

        <button class="pull-right ui-button-secondary" pButton (click)="createNew()" label="{{'TABS.CLASSES.ADD' | translate}}"
          icon="fa fa-plus">
        </button>

        <div class="clearfix"></div>

        <div *ngIf="workingCopy" class="spacing-top">

          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="workingCopy.name" name="className">
            <label for="float-input">{{'TABS.CLASSES.NAME' | translate}}</label>
          </span>

          <p-checkbox name="allowBadgeStart" [(ngModel)]="workingCopy.allowBadgeStart" binary="true" label="{{'TABS.CLASSES.ALLOW_BADGE_START' | translate}}"></p-checkbox>

          <span class="ui-float-label">
            <p-spinner size="30" [(ngModel)]="workingCopy.vacancyPercentage" name="vacancyPercentage"></p-spinner>
            <label for="float-input">{{'TABS.CLASSES.VACANCY_PERCENTAGE' | translate}}</label>
          </span>

          <div class="form-group-box">
            <p-checkbox [(ngModel)]="workingCopy.hasStartTime" name="hasStartTime" binary="true" label="{{'TABS.CLASSES.HAS_START_TIME' | translate}}"></p-checkbox>

            <div class="form-group-box-inner" [hidden]="!workingCopy.hasStartTime">
              <span class="ui-float-label">
                <p-spinner size="30" [(ngModel)]="workingCopy.timeSpacing" name="timeSpacing"></p-spinner>
                <label for="float-input">{{'TABS.CLASSES.START_TIME_SPACING' | translate}}</label>
              </span>
            </div>
          </div>     
        </div>
      </form>
    </div>
  </div>
</div>