<div class="window">
  <!-- Your app's content goes inside .window-content -->
  <div class="window-content">
      <div class="pane-group">
          <div class="pane-mini sidebar" [hidden]="isMaximized">
            <app-sidemenu></app-sidemenu>
          </div>
          <div class="pane">
              <div [hidden]="isMaximized">
                <app-command-palete></app-command-palete>
              </div>

              <app-tab [isMaximized]="isMaximized"></app-tab>
          </div>
        </div>
  </div>
</div>