<div class="pane-group-relative">
  <div class="pane">
    <table class="table-striped">
      <thead>
        <tr>
          <th>{{'TABS.CHECKPOINTS.CODE' | translate:param}}</th>
        </tr>
      </thead>
      <tbody *ngFor="let checkpoint of items">
        <tr (click)="edit(checkpoint, true)">
          <td>
            {{checkpoint.code}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pane">
    <div class="well">
      <form #checkpointForm="ngForm">
        <button class="btn btn-default pull-left" (click)="save()" [disabled]="!checkpointForm.form.valid || checkpointForm.form.pristine" *ngIf="inEditMode">
          <span class="icon icon-upload"></span>&nbsp; {{'TABS.CHECKPOINTS.SAVE' | translate:param}}
        </button>

        <button class="btn btn-default pull-right" (click)="createNew()">
          <span class="icon icon-plus"></span>
          {{'TABS.CHECKPOINTS.ADD' | translate:param}}
        </button>

        <div class="clearfix"></div>
        <div class="form-group" *ngIf="workingCopy">
          <label>{{'TABS.CHECKPOINTS.CODE' | translate:param}}</label>
          <input type="number" name="code" class="form-control" [(ngModel)]="workingCopy.code" *ngIf="isNew" />
          <label *ngIf="!isNew">{{workingCopy.code}}</label>
        </div>
      </form>
    </div>
  </div>
</div>