<div class="pane-group-relative">
  <div class="pane">
    <p-table [value]="items">
      <ng-template pTemplate="header">
        <tr>
          <th>{{'TABS.CHECKPOINTS.CODE' | translate:param}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-checkpoint>
        <tr (click)="edit(checkpoint, true)">
          <td>{{checkpoint.code}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="pane">
    <div class="well">
      <form #checkpointForm="ngForm">
        <button class="pull-left ui-button-secondary" pButton (click)="save()" [disabled]="!checkpointForm.form.valid || checkpointForm.form.pristine"
          *ngIf="inEditMode" label="{{'TABS.CHECKPOINTS.SAVE' | translate:param}}" icon="pi pi-save">
        </button>

        <button class="pull-right ui-button-secondary" pButton (click)="createNew()" label="{{'TABS.CHECKPOINTS.ADD' | translate:param}}" icon="pi pi-plus">
        </button>

        <div class="clearfix"></div>

        <div *ngIf="!isNew && workingCopy">
            <label>{{'TABS.CHECKPOINTS.CODE' | translate:param}}</label>
            <p>{{workingCopy.code}}</p>
        </div>

        <div class="form-group" *ngIf="workingCopy && isNew">
          <label>{{'TABS.CHECKPOINTS.CODE' | translate:param}}</label>
          <input type="number" name="code" class="form-control" [(ngModel)]="workingCopy.code" *ngIf="isNew" />
        </div>
      </form>
    </div>
  </div>
</div>