<p-toast position="bottom-right"></p-toast>

<div class="flex-content">
  <div class="container-frame">
    <div class="title">YAOS</div>

    <div class="controls">
      <form (ngSubmit)="submitServer()" #serverForm="ngForm">
        <p-checkbox name="useLocalServer" [(ngModel)]="useLocalServer" (ngModelChange)="useLocalServerChanged()" binary="true" label="{{'TABS.COMPETITION_SELECTION.USE_LOCAL_SERVER' | translate:param}} "></p-checkbox>

        <p-card title="{{'TABS.COMPETITION_SELECTION.SERVER_ADDRESS' | translate:param}}" [hidden]="useLocalServer" class="spacing-top">
          <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="Host:Port" [(ngModel)]="serverAddress" name="_serverAddress" required pattern="^[\w\d.-]+(:\d+|)$">
            <button pButton type="button" icon="pi pi-cloud-download" class="ui-button-primary" [disabled]="!serverForm.form.valid"></button>
          </div>
        </p-card>
      </form>
    </div>

    <p-table [value]="competitions">
      <ng-template pTemplate="header">
        <tr>
          <th>{{'TABS.COMPETITION_SELECTION.TABLE_HEADING_NAME' | translate:param}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-competition>
        <tr (click)="loadCompetition(competition)" class="clickable">
          <td>{{competition.name}}</td>
        </tr>
      </ng-template>
    </p-table>

  </div>