.container-frame {
    width:700px;
    margin:auto;
    border:1px solid rgba($color: (#aaaaaa), $alpha: 0.8);
    height: 500px;

    display:flex;    
    flex-direction: column;
    justify-content: start;

    .title {
        font-size:3em;
        color:darkgrey;
        font-weight: bold;
        text-align:center;
    }

    .controls{
        padding:10px;
    }

    hr {
        margin:0 0 5px 0;
        padding:0;
    }

    table{
        overflow-y: scroll;
        flex-grow: 1;
        flex-basis: auto;

        tbody{
            tr {
                cursor: pointer;
            }
        }
    }
}

.validationResultContainer {
    justify-self: flex-end;
    margin-top:auto;
    padding:5px;
    margin-left:5px;
    margin-right:5px;
    border:1px solid darkgrey;
    color:white;
}

.validationResultContainer.success {
    background-color: green;
}

.validationResultContainer.error {
    background-color: red;
}