<div class="window">
  <div class="window-content">
    <div class="container-frame">
      <div class="title">YAOS</div>

      <div class="controls">
        <form (ngSubmit)="submitServer()" #serverForm="ngForm">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="useLocalServer" [(ngModel)]="useLocalServer" (ngModelChange)="useLocalServerChanged()"> {{'TABS.COMPETITION_SELECTION.USE_LOCAL_SERVER' | translate:param}}
            </label>
          </div>

          <div class="form-group" [hidden]="useLocalServer">
            <label>{{'TABS.COMPETITION_SELECTION.SERVER_ADDRESS' | translate:param}}</label>
            <div class="btn-group">
              <input type="text" class="form-control" placeholder="Host:Port" [(ngModel)]="serverAddress" name="_serverAddress" required
                pattern="^[\w\d.-]+(:\d+|)$">

              <button type="submit" class="btn btn-default" [disabled]="!serverForm.form.valid">
                <span class="icon icon-install"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <hr />
      <table class="table-striped">
        <thead>
          <tr>
            <th>
              {{'TABS.COMPETITION_SELECTION.TABLE_HEADING_NAME' | translate:param}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let competition of competitions" (click)="loadCompetition(competition)">
            <td>
              {{competition.name}}
            </td>
          </tr>
        </tbody>
      </table>

      <div class="validationResultContainer" *ngIf="lastValidationResult" [class.success]="lastValidationResult == 3" [class.error]="lastValidationResult != 3">
        <span *ngIf="lastValidationResult == 1">
          {{'TABS.COMPETITION_SELECTION.VALIDATION_FAIL' | translate:param}}
        </span>
        <span *ngIf="lastValidationResult == 2">
          {{'TABS.COMPETITION_SELECTION.VALIDATION_WRONGVERSION"' | translate:param}}
        </span>
        <span *ngIf="lastValidationResult == 3">
          {{'TABS.COMPETITION_SELECTION.VALIDATION_SUCCESS' | translate:param}}
        </span>
      </div>
    </div>
  </div>
</div>