@import "../../../styles/colors";

.container-frame {
    background-color: $uibackground;
    width:700px;
    margin:auto;
    border:1px solid darken($uibackground, 30%);
    height: 500px;

    display:flex;    
    flex-direction: column;
    justify-content: flex-start;

    .title {
        font-size:3em;
        color:darkgrey;
        font-weight: bold;
        text-align:center;
    }

    .controls{
        padding:10px;
    }

    hr {
        margin:0 0 5px 0;
        padding:0;
    }

    table{
        overflow-y: scroll;
        flex-grow: 1;
        flex-basis: 100%;
        justify-self: stretch;

        tbody{
            tr {
                cursor: pointer;
            }
        }
    }

    .button-container {
        justify-self: flex-end;
        height:30px;

        display:flex;
        justify-content: flex-end;
    }
}