<!-- <div class="commandpalete">
  <input type="text" 
         (click)="onActivate()" 
         (input)="onInput($event)" 
         (keyup)="onKeyUp($event)" 
         (focusout)="closeOutput()" 
         placeholder="{{ 'PALETE.PLACEHOLDER_TEXT' | translate:param }}" 
         #paleteInput />

  <div class="output" *ngIf="outputOpen">
      <ul class="list-group">
          <li class="list-group-item active" *ngFor="let commandItem of commandItems" [class.active]="commandItem == activeCommandItem" (click)="selectCommandItem(commandItem)">
            <div class="media-body">
              <strong>{{commandItem.title}}</strong>
            </div>
          </li>
        </ul>
  </div>
</div> -->

<p-autoComplete [(ngModel)]="searchString" 
                [suggestions]="commandItems" 
                (completeMethod)="search($event)"
                (onSelect)="onSelect($event)" 
                autoHighlight="true"
                field="title"
                placeholder="{{ 'PALETE.PLACEHOLDER_TEXT' | translate }}"></p-autoComplete>