<p-table [value]="runners" [paginator]="true" [rows]="10" [resizableColumns]="true">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th pResizableColumn>
        {{'TABS.RUNNERS.RUNNER_NAME' | translate}}
      </th>
      <th pResizableColumn>
        {{'TABS.RUNNERS.CLUB_NAME' | translate}}
      </th>
      <th pResizableColumn>
        {{'TABS.RUNNERS.BADGE_NUMBER' | translate}}
      </th>
      <th pResizableColumn>
        {{'TABS.RUNNERS.CLASS' | translate}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-runner>
      <tr (click)="openRunner(runner)">
        <td class="ui-resizable-column">{{runner.name}}</td>
        <td class="ui-resizable-column">{{runner.club}}</td>
        <td class="ui-resizable-column">{{runner.badge?.number}}</td>
        <td class="ui-resizable-column">{{runner.class?.name}}</td>
      </tr>
  </ng-template>
</p-table>